@model IEnumerable<AdvancedAjax.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <button id="createButton" class="btn btn-success">Create New</button>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.EmailId)</th>
            <th>@Html.DisplayNameFor(model => model.Country)</th>
            <th>@Html.DisplayNameFor(model => model.City)</th>
            <th>@Html.DisplayNameFor(model => model.Photo)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.EmailId)</td>
                <td>@Html.DisplayFor(modelItem => item.Country.Code)</td>
                <td>@Html.DisplayFor(modelItem => item.City.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Photo)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="createModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="createCustomerForm">
                <div id="createModalContent"></div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Ava modal ja lae vorm
            $('#createButton').on('click', function () {
                $.get('/Customers/Create', function (data) {
                    $('#createModalContent').html(data);
                    $('#createModal').modal('show');
                });
            });

            // Salvesta uus Customer
            $(document).on('submit', '#createCustomerForm', function (e) {
                e.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: '/Customers/Create',
                    data: $(this).serialize(),
                    success: function () {
                        $('#createModal').modal('hide');
                        location.reload(); // värskenda tabel
                    }
                });
            });
        });
    </script>
}